# This file contains common pin mappings for the BIGTREETECH SKR
# MINI 1.2. To use this config, the firmware should be compiled for 
# the STM32F103 with a "28KiB bootloader". Also select "enable extra 
# low-level configuration options" and configure "GPIO pins to set 
# at micro-controller startup" to "!PC13" for a SKR Mini 1.2

# The "make flash" command does not work on the SKR mini. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini with that SD card.

# See the example.cfg file for a description of available parameters.


#####################################################################
# 	MCU & Printer Settings
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD8054246303739641957-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 2000
max_z_velocity: 10
max_z_accel: 30
square_corner_velocity: 5.0

[input_shaper]

[temperature_sensor raspberry_pi]
sensor_type: rpi_temperature
min_temp: 10
max_temp: 100

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    60,60,20


[idle_timeout]
timeout: 1800
gcode:
	TURN_OFF_HEATERS

[endstop_phase]






#####################################################################
# Home Override
#####################################################################
[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   G0 X30 Y0 F3600 
   
   G28 Z
   G0 Z10 F1800
   G0 X60 Y60 Z20 F3600



[static_digital_output usb_pullup_enable]
pins: !PC13


[include mainsail.cfg]
[include macros.cfg]
[include axis.cfg]
[include extruder.cfg]
[include fans.cfg]
[include bed.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 45.615
#*# pid_ki = 2.097
#*# pid_kd = 248.034
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.546
#*# pid_ki = 1.330
#*# pid_kd = 95.539
#*#
#*# [stepper_z]
#*# position_endstop = -0.360
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 33/64
